<div class="faqs">

	<div class="banner">

		<h2>Our website contains everything you'll need to know</h2>

	</div>

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">
	  {{ page.content }}

		<ul>
			<li>Do you have a per square metre price?</li>
			<li>Yes, depending on what modules you require but on average it is $1700/sqm</li>
		</ul>

		<ul>
			<li>Can you send a kit overseas to be built by local builders?</li>
			<li>Yes, please call us to discuss your needs further</li>
		</ul>

		<ul>
			<li>I’m wanting to do an extension to an existing house. Do you do this sort of thing?</li>
			<li>Yes we have a range of standard cladding options and if you would like something outside of these we can work with you to find something suitable.</li>
		</ul>

		<ul>
			<li>Can Modular Living buildings be clad in anything?</li>
			<li>Yes we have a range of standard cladding options and if you would like something outside of these we can work with you to find something suitable.</li>
		</ul>

		<ul>
			<li>Are your modules prefab?</li>
			<li>Yes we use a product called SIPs (Structural Insulated Panels). Please click here to find out more.</li>
		</ul>

		<ul>
			<li>Is Modular living able to build throughout NZ?</li>
			<li>Yes</li>
		</ul>

		<ul>
			<li>Can Modular Living buildings be built on piles?</li>
			<li>Yes</li>
		</ul>

		<ul>
			<li>Are Modular living designs limited to what’s on the website?</li>
			<li>No we can configure our modules however you like and what best suits your site.</li>
		</ul>

		<ul>
			<li>Can you build on a concrete slab?</li>
			<li>Yes</li>
		</ul>

		<ul>
			<li>Can I choose the finishes for my Modular Living home?</li>
			<li>Definitely. We have a wide range of finish options for your Modular Living home but you definitely don't need to be limited by these. External cladding, roof shape, internal wall finishes, floor coverings, paint colours, bench tops, fixtures and appliances can all be chosen to meet individual requirements, and clients are welcome to supply their own items for inclusion should they wish to do so. One of our Modular Living team members will be happy to go through the range of options available.</li>
		</ul>

		<ul>
			<li>What is the standard ceiling height of your modules?</li>
			<li>The standard ceiling height of each Modular Living module is 2.4m. For ceiling heights above this, or for cathedral or mezzanine style designs we can stack modules to create greater ceiling heights.</li>
		</ul>

		<ul>
			<li>Can I add to my Modular Living home in the future?</li>
			<li>Absolutely, the beauty of the modular system is that you can easily add to your home in the future. This means you can build what you can afford now and add to it later.</li>
		</ul>

		<div>
			<a class="button" href="https://modular-living-2.myshopify.com/pages/about-us">CONTACT US NOW</a>
		</div>
	</div>
</div>