<div class="modules">

	<div class="banner">

		<h2>We build affordable, high quality and functional homes to suit you</h2>

	</div>

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">

	  {{ page.content }}
	
		<div>

			<p>Modular Living manufactures contemporary, high quality modular homes controlling the entire process, from design through to production. Our expertise has led to an expanding range of affordable, high-quality, functional and contemporary modular homes. </p>

			<p>When building a home, Modular Living Modules are a great way to save time, space and cost. You decide what your requirements are, select the modules to suit and know ahead of time exactly how much it will cost. </p>

		</div>
		<div>
			<div class="half-width">

				<img src="//cdn.shopify.com/s/files/1/0763/3035/files/module_grande.png?11286637850108661016" />

				<h3>modular living homes</h3>

				<p>A range of modular layouts showing how various configurations of modules come together to create your ideal home. Click <a href="https://modular-living-2.myshopify.com/collections/homes">here</a> to view.</p>

			</div>

			<div class="half-width">

				<img src="//cdn.shopify.com/s/files/1/0763/3035/files/module_grande.png?11286637850108661016" />

				<h3>modular living modules</h3>

				<p>View our range of architecturally designed modules to see the variety of living spaces we have to offer. Our system enables us to cost your project very accurately before we start construction so you can have peace of mind. Click <a href="https://modular-living-2.myshopify.com/collections/modules">here</a> to view.</p>
			</div>
		</div>
	</div>


</div>