<div class="about-page">

		<div class="banner">
			<h2>We build affordable homes to suit you</h2>
		</div>

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">

	  {{ page.content }}

		<div>
			<p>After many years in and around the building industry owners Tod and Pete thought there must be a more efficient and cost effective way to build homes and so Modular Living was born. Their aim was to build environmentally sustainable, affordable and flexible residential homes.</p>

			<p>We have six 32m2 predesigned modules to choose from that can be put together in any configuration that suits the site and your needs and if your needs change, you can add more modules. We aim to be as flexible as possible to help deliver you the home of your dreams. Our modular homes are flexible. Can’t afford to build all of your dream house now? No problem, start off with one or two modules and we can add to it in the future as finances allow.<br /><br />We build and fit out our modules in a factory based in Whangarei using Structural Insulated Panels (SIPs). Once the modules are completed we then transport them to site ready to put together. Building in a factory allows us to oversee and ensure a consistent level of quality while minimizing onsite work and therefore allowing us to build homes at a significantly lower cost per meter than traditional building methods. But best of all we aim to hand you the keys to your new home 6 weeks after council consents have been issued.</p>

		</div>

		<div>
			<h3>who should use us?</h3>

			<p>If you are a builder, developer or homeowner looking to renovate, build new or extend talk to us now obligation free to discuss your project.</p>

			<p><a class="button" href="https://modular-living-2.myshopify.com"> CONTACT US NOW</a></p>
			<p> </p>
		</div>

		<div>
			<h3>the team</h3>

			<p>If you are a builder, developer or homeowner looking to renovate, build new or extend talk to us now obligation free to discuss your project.</p>

			<div class="half-width">
				<img src="//cdn.shopify.com/s/files/1/0763/3035/files/blank_profile_medium.jpg?2751278908905836510" /> 
				<p>Peter Lambert is our Construction Manager and is a Licensed Builder who has over 12 years experience in the construction industry. Pete is also a husband and father of two young boys, they live in Auckland.</p>
			</div>

			<div class="half-width">
				<img src="//cdn.shopify.com/s/files/1/0763/3035/files/blank_profile_medium.jpg?2751278908905836510" />

				<p>Tod Tait is our Sales Manager. He has been involved with and run numerous businesses and most recently been a property trader and investor. He and his partner live one hour north of Auckland with their three young children.</p>
			</div>
			
		</div>
	</div>
</div>