<div class="process-page">

	<div class="banner">
	
		<h2>Our modular system allows great flexibility when building your home</h2>
	
	</div>

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">
	  {{ page.content }}

	  <div>
	  	
	  	<h3>step 1: discover phase</h3>

	  	<p>Research Modular living and evaluate if we are the right fit for you, we wil happily come and speak to you on site and discuss your requirements and the way we work.</p>

	  	<p>We can develop draft designs for you to get an idea of what is possible on the site and how your home might look – cost $1500. If you are to proceed with Modular Living as your construction partner we will credit this cost to your project.</p>

	  	<p>During this phase we will be able to provide you with indicative pricing for your project, but we will require as much information as possible such as a geotech report so that we are able to provide fixed prices for site works.</p>

	  </div>

	  <div>

	  	<h3>step 2: design phase</h3>

	  	<p>You will come and meet with our design team and we with you, will develop full working designs that will then be submitted to council for approval. This is where you will decide on your finishes and appliances and we can then provide you with a fixed price.</p>

	  	<ul>
	  		<li>Time frame: 2 weeks</li>
	  		<li>Finance required: 15% of total build price</li>
	  	</ul>

	  </div>

	  <div>

	  	<h3>step 3: approval, construction</h3>

	  	<p>When your plans are submitted to council we will start constructing the modules required to build your home in our Whangarei based factory. The modules are built and fitted out in the factory so when they get to site they are 90% complete.</p>

	  	<p>You will be provided with weekly updates on the progress of your home and you are always welcome to inspect progress at the factory.</p>

	  	<ul>
	  		<li>Time frame: 1 week per module</li>
	  		<li>Finance required: 40% of total build price</li>
	  	</ul>

	  </div>

	  <div>

	  	<h3>step 4: site works</h3>
	  	<p>Once we have council approval site works will begin and foundations will be laid. We will project manage this for you which we will discuss at design phase or we are happy to work with a team of your choice.</p>

	  	<ul>
	  		<li>Time frame: 3 weeks</li>
	  		<li>Finance required: 20% of total build price</li>
	  	</ul>

	  </div>

	  <div>

	  	<h3>step 5: delivery and finishing</h3>
	  
	  	<p>Once site works have been completed modules are transported to site and arranged as per your building plans. Once all the modules are in place we complete remedial cladding, roofing and the services are installed. We will then handover the keys for you to enjoy your new dream home.</p>

	  	<ul>
	  		<li>Time fram: 3 weeks</li>
	  		<li>Finance required; remaining 25%;</li>
	  	</ul>

	  </div>
	  <div>
	  <a class="button" href="https://modular-living-2.myshopify.com">FIND OUT MORE</a>
	  </div>
	</div>

</div>