<div class="why-us">
	
	<div class="banner">
	
		<h2>We're fast, affordable, flexible, and inherently greem</h2>
	
	</div>
	
	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">
	
	  {{ page.content }}
	
	  <div>

	  	<h3>speed</h3>
	  	
	  	<p>Once you decide to work with Modular Living you will be able to move in to your new home in an estimated 12 weeks. We can do this because we use a modular system using pre-fabricated panels allowing us to streamline the building process. Building in a factory allows us to be even more efficient as we eliminate weather and site delays ensuring we have a fixed timeline from start to finish..</p>

	  </div>

	  <div>

	  	<h3>cost efficiency</h3>

	  	<p>We can build a home for as little as $1700/m2. The beauty of the modular system in conjunction with building in a factory is that once your plans are finalised you will know the cost of your build and be assured that there will be no unexpected cost overruns. And because our timelines are so efficient your holding costs on the land are also reduced.</p>

	  </div>

	  <div>

	  	<h3>flexible</h3>

	  	<p>We have six different modules that can be configured in anyway you like and what best suits the site and if space is tight or you want a two story dwelling we can stack our modules, the options are endless. We also work with quality suppliers allowing us to offer you a range of quality finishes. Building modular doesn’t mean you are limited.</p>
	  
	  	<p>If budgets are tight and you can’t afford to build your entire home today then you can start with 1, 2 or 3 modules and add more in the future as money allows.</p>

	  	<p>We aren’t just limited to residential dwellings we are also perfect for many commercial uses, please contact us directly to discuss further.</p>

	  </div>

	  <div>

	  	<h3>sustainable</h3>

	  	<p>We believe in minimizing our footprint on this planet so being sustainable ispretty important to us. When looking for a construction partner SIP’s ticked a multitude of boxes and being sustainable was definitely one of them.</p>

	  	<p>SIP’s are one of the most airtight and well insulated building systems available, an airtight SIP’s building will use less energy to heat and cool, allow for better control over the indoor environment and reduces construction waste. Which is kind to the planet and your wallet.</p>

	  	<p>The main components of a SIPs panel is expanded polystyrene (EPS) and oriented strand board (OSB) and these take less energy and raw materials to produce than standard building systems making SIP’s inherently green.</p>

	  	<p>If you would like to do further reading on all the ins and outs of SIPs and their environmental footprint please click here.</p>

	  </div>

	  <div>

	  	<h3>quality materials</h3>

		<p>LOGOS to be added / or a list of materials</p>
		
	  </div>

	</div>


</div>