<div class="services-page">

	<div class="banner">
	
		<h2>Our modular system allows great flexibility when building your home</h2>
	
	</div>

	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte">
	  {{ page.content }}



	</div>

</div>